# DB settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_DB=fastapi_test_task
DB_HOST=db
TEST_DB_NAME = test_fastapi
# Hash settings
HASH_ALGORITM = sha256
SALT_LEN = "16"
ITERATIONS_NUM = "100000"
